[bumpversion]
current_version = 0.0.23
commit = True
tag = True

[bumpversion:file:repo_helper.yml]

[bumpversion:file:README.rst]

[bumpversion:file:doc-source/index.rst]

[bumpversion:file:whey/__init__.py]

search = : str = "{current_version}"
replace = : str = "{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:file:.github/workflows/conda_ci.yml]
